.form-contato label{
    margin-top: 20px !important;
}

.form-contato input{    
    display: block !important;
    margin: 0 auto !important;
}
.footer{
	position: relative;
	bottom: 0;
}