.form-login label{
    color: white;
    font-size:22px;
}

.forms{
    margin-top:50px;
}

.divisor{
    border: 2px solid white; 
    border-radius: 10px;
}

.box-span{
    text-align: center;
}

.box-login h3, .box-cadastro h3{
    color: white;
}

.form-login input, .form-cadastro input{
    border-radius: 30px;
}

.form-login input:focus{
    outline: none;
    box-shadow: 0px 0px 5px #F2762E;
    border: 3px solid #F2762E;
}
.footer{
	position: relative;
	bottom: 0;
}