*{
	padding: 0%;
	margin: 0%;
}

footer {
	width: 100%;
	background-color: #2b2b2b !important;
	
}

body{
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
	height: 100%;
	background-color: #2b2b2b !important;
}
.color-white{
	color: white;
}

#conteudo{
	background-color:#2b2b2b;
}


.logo h1, .logo h1 a{
	color: white;
	text-decoration: none;
}


.box-main{
	height: 50vh;
    margin-top: 30vh !important;
}

.box-centro{
	display: block;
	margin: 0 auto;
}

.footer{
	background-color: #2b2b2b;
    color: white;
    ;
}

.footer p{
    text-align: center;
    bottom: 0%;

}

.titulo{
	text-align: center;
	margin: 0;
	color: white;
}

.box-imagem{
	background-color: grey;
	height: 450px;
}

.box-imagem img{
	margin-top: 20px;
}

.texto-resultado{
	color: white;
	padding: 25px;
	text-align: center;
}

.btn-saibaMais{
	background-color: #F2762E;
	padding: 10px;
	border-radius: 30px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}

.btn-saibaMais a{
	color: white;
	transition: .7s all;
}

.btn-saibaMais:hover a{
	color: #F2762E;
}

.btn-saibaMais:hover{	
	background-color: white;
	cursor: pointer;
}

.footer{
	position: relative;
	bottom: 0;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;    
    margin-top: 7px;
    margin-right: 15px;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 4px;
    position: relative;
    transition: background .2s ease-out;
    width: 24px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 7px;
  }
  
  .header .menu-icon .navicon:after {
    top: -7px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
      margin-top: 7x;
      margin-right: 15px;
    }
    .header .menu-icon {
      display: none;
	}
  }

  .menu-icon:hover::after {
    background: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
  
.menu-icon::after{
	background: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
