* {
    font-family: 'Open Sans', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ::-webkit-scrollbar-track{background-color:#000000;}
// ::-webkit-scrollbar{width:10px;}
// ::-webkit-scrollbar-thumb{background:#4660a2;}

.color-white {
    color: white;
}

.font-bold {
    font-weight: bold;
}

/*////////////////////////////////////////// sessao um ///////////////////////////////////////////////////////*/

.logo {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 25%;
    width: 300px;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}

.botao-subir{    
    transform: rotate(180deg);     
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    cursor: pointer;
    .subir{
        animation: float 2s ease-in-out infinite;
        width: 46px;
        background-color: #4660a2;
        padding: 10px;
        border-radius: 25px;
        cursor: pointer;
    }
}

.down{
    cursor: auto;
    .descer{
        transform: translatey(0px);
        animation: float 2s ease-in-out infinite;
        width: 46px;
        margin-top: 35vh;
        background-color: #4660a2;
        padding: 10px;
        border-radius: 25px;
        cursor: pointer;
    }
}

.sessao-um {
    height: 100vh;
    text-align: center;
    background-image: url('../images/fundo-um.png');
    background-size: 70%;
    background-repeat: round;
    background-attachment: fixed;

    .sessao-um-opacity {
        background-color: white;
        opacity: .82;
        height: 100vh;
        width: 100%;
    }
}

.paragrafo-box {
    margin: 50px auto;
    height: auto;
    font-weight: bold;
    color: rgba(70, 96, 162, 255);

    .texto {
        color: rgba(83, 84, 88, 255);
        margin-top: 20px;
    }
}

.sessao-dois {
    height: 450px;
    text-align: center;
    background-image: url('../images/fundo-dois.png');
    background-size: 100%;
    background-repeat: round;
    background-attachment: fixed;
}

.sessao-tres {
    height: 450px;
    text-align: center;
    background-image: url('../images/fundo-tres.png');
    background-size: 100%;
    background-repeat: round;
    background-attachment: fixed;
}

.sessao-quatro {
    background-color: #4660a2;
    height: 300px;

    .box-texto-comecar {
        margin-left: auto;
    }

    .box-botao-comecar {
        margin-right: auto;
        margin-left: auto;
    }

    h2 {
        margin-top: 75px;
    }

    p {
        margin-top: 125px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: max-content;
    }
}

.botao-comecar {
    background-color: #29385e;
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    transition: .3s all;
    font-weight: bold;

    &:hover {
        color: #29385e;
        background-color: white;
    }
}

.sessao-cinco {
    height: auto;
    background-color: #29385e;

    h1 {
        margin-top: 50px;
    }

    form .botao {
        width: 100%;
        background-color: #333333;
        height: 50px;
        transition: .3s all;
        font-weight: bold;
        margin-bottom: 50px;
        cursor: pointer;
        border: none;
        color: white;

        &:hover {
            background-color: white;
            color: #29385e;
            border: none;
        }
    }

    input,
    textarea {
        border: 2px solid #4660a2;

        &:hover,
        &:active,
        &:focus {
            border: 2px solid #29385e;
        }
    }
}

.footer {
    width: 100%;
    height: auto;
    background-color: white;

    p {
        margin-top: 20px;
        margin-bottom: 0;
        color: #333333;
    }
}

.dev-by {
    background-color: white;
    margin: 0;

    img {
        width: 120px;
    }

}

.erro {
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: #B90003;
    text-align: center;
    top: 100%;
    margin-top: -50px;
    z-index: 9999;
    line-height: 50px;
    display: none;
    color: #FFF;
    font-family: 'Lato', sans-serif !important;
    font-size: 18px;
    font-weight: normal;
}

.success {
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: #2AB900;
    text-align: center;
    top: 100%;
    margin-top: -50px;
    z-index: 9999;
    line-height: 50px;
    display: none;
    color: #FFF;
    font-family: 'Lato', sans-serif !important;
    font-size: 18px;
    font-weight: normal;
}

header {
    nav {
        display: none;
        transition: .7s all;
    }

    .header-fixo {
        display: block;
        transition: .7s all;
    }

    ul {
        margin: 0;
        list-style-type: none;
        display: flex;
        position: fixed;
        z-index: 999;
        width: 100%;
        background-color: #333333;

        li {
            margin: 0 auto;
            text-align: center;
            padding: 15px;
            text-transform: uppercase;
            background-color: #333333;
            transition: .7s all;

            &:hover {
                background-color: #4660a2;
            }

            a {

                &:focus,
                &:hover {
                    color: white
                }
            }
        }

        .ativo {
            background-color: #4660a2;
        }
    }
}