.modal{
    width: 70% !important;
    margin-top: 60px;
    p{
        text-align: center;
    }

    span{
        font-weight: bold;
    }

    img{
        margin: 20px auto 30px auto;
    }
}
