.box-filtros{
    p{
        color: #ffb937;
        font-size: 20px;
        height: 30px;
        margin-bottom: 0;
    }

    select{
        margin: 0 0 3.5222rem !important;
        border: 2px solid #ffb937;
        &:hover, &:focus, &:active{
            border: 2px solid #ffb937;
          }
    } 
}

.box-resultado{
    background-color: white;
    height: 400px;
    margin-bottom: 30px;
}

.imagem-local{
    background-color: black;
    height: 120px;
    display: block;
    margin: 25px auto 0 auto;
    p{
        color: white;
        text-align: center;
        margin-top: 20px;
    }
}

.texto-local{
    color: black;
    margin: 20px auto;
    display: block;
    text-align: center;
    span{
        color: #ffb937;
        border-bottom: 1px solid black;
    }
    p{
        margin-bottom: 0;
    }

    a{
        color: #ffb937;
        border-bottom: 1px solid black;
        &:hover{
            color: #ffb937;
        }
    }
}